In [1]:
import pandas as pd
import numpy as np
import regex as re
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.DataFrame({'ID':[1,2,3,4,5,6],'Gender':['M','F','M','F','M','F'],'Height':['5 ft 8 in','5 ft 4 in','183 cm','176 cm','162 cm',
'154 cm']})
df

   ID Gender     Height
0   1      M  5 ft 8 in
1   2      F  5 ft 4 in
2   3      M     183 cm
3   4      F     176 cm
4   5      M     162 cm
5   6      F     154 cm

In [3]:
def cust_func(df):
    df['Height_ft'] = df['Height'].apply(lambda x: re.split(' ft',x,maxsplit=1)[0])
    df['Height_in'] = np.nan
    for i in range(len(df)):
        if df['Height'][i].endswith('in'):
            df['Height_in'][i] = df['Height'][i].replace(df['Height_ft'][i],'').replace('in','').replace('ft','')
        else:
            df['Height_ft'][i] = df['Height_ft'][i].replace('cm','')
    df['Height_ft'] = df['Height_ft'].astype(int)
    for i in range(len(df['Height'])):
        if df['Height'][i].endswith('in'):
            df['Height_ft'][i] = df['Height_ft'][i]*30.46
        else:
            df['Height_ft'][i] = df['Height_ft'][i]
            
    df['Height_in'].fillna(0,inplace=True)
    df['Height_in'] = pd.to_numeric(df['Height_in'])*2.54
    df['Height_ft'] = df['Height_ft']+df['Height_in']
    df['Rank'] = df['Height_ft'].rank(method='min')
    return df[df['Rank']==df['Rank'].max()-1]

In [4]:
cust_func(df)

   ID Gender  Height  Height_ft  Height_in  Rank
3   4      F  176 cm      176.0        0.0   5.0

In [5]:
a = [[2,3,5],[1,2,4,6]]
new_list = []
for i in a:
    for j in i:
        new_list.append(j)
print(new_list)

[2, 3, 5, 1, 2, 4, 6]

In [6]:
a = [[2,3,5],[1,2,4,6],[2,5,7,[12,13]]]
new_list = []
for i in a:
    for j in i:
        new_list.append(j)
        if type(j)==list:
            new_list.remove(j)
            for k in j:
                new_list.append(k)
                
print(new_list)

[2, 3, 5, 1, 2, 4, 6, 2, 5, 7, 12, 13]